@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
   

    --ltblue: #67cdfb;
    --blue: #004e89;
    --navy: #00043a;
    --red: #ff002b;

    --yellow: #ffdd00;
    --green: #00B41E;
    --orange: #ffa916;
}

body, h1, h2, h3, h4, h5, p {
    background-color: var(--blue);
    margin: 0;
    padding: 0;
    
    
}
body {
   height: 100vh;
    
    position: relative;
 
}
h1, h2, h3, h4, h5, p {

    background-color: transparent;
}

h1 {
    font-family: 'lato', sans-serif;
    font-size: 7.5rem;
    font-weight: 900;
    color: white;

}

h2 {
    font-family: 'lato', sans-serif;
    font-size: 7rem;
    font-weight: 900;
    color: white;
    
}

h3 {
    font-family: 'oswald', sans-serif;
    font-size: 7rem;
    font-weight: 600;
    color: white;
}

h4 {
    font-family: 'oswald', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: var(--navy);
}

h5 {
    font-family: 'oswald', sans-serif;
    font-size: 4.5rem;
    font-weight: 600;
    color: white; 
}

p {
    font-family: 'lato', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

.fontRed {
    color: var(--red);
}
.fontBlack {
    color: black;
}
.fontYellow {
    color: var(--yellow);
}

.btn {
    background-color: red;
    width: 25rem;
    height: 6rem;
    border-radius: 8px;
    color: white;
    border: none;
    font-family: 'oswald', sans-serif;
    font-size: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

button:hover {

    background-color: var(--navy);
}

.background {
    background-image: url(/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100%;
}
    /* testinghomepage shit */

    /* .tkdBackground {
        background-image: url(/tkdGirl.png);
    } */