.programContainer {
height: 82vh;
overflow: hidden;


}
.programContentContainer {
   
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    margin-left: 5rem;
    margin-top: 5rem;
    grid-gap: 8rem;
 
}
/* .programsBackground {
    margin-top: 5rem;
    position: absolute;
    z-index: -1;
    background-image: url(/background.png);
    width: 100rem;
    height: 50%;
    left: 40vw;
    top: 15rem;

} */
.programBehaviorImg, .programCardioImg, .programCampImg {
    transform: translateY(17rem);
}

.programInfo {
    width: 40%;
    margin-top: 8rem;
}

.programsH5 {
    margin-bottom: 2rem;
}

.programsBtn {
    margin-top: 3.5rem;
}
.programsFooter {
    position: absolute;
    bottom: 7.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    height: 5vh;
}

.programsFooterP {
    

text-transform: uppercase;
font-family: 'oswald', sans-serif;
}
.programsFooterRed {
    background-color: var(--navy);
}
.programFooterGreen {
    background-color: var(--green)
}
.programFooterBlk {
    background-color: black;
}
.programFooterYellow {
    background-color: var(--yellow);
   
}
.programFooterBlue {
    background-color: var(--ltblue);
    
}
.programFooterOrange {
    background-color: var(--orange);
   
}
.yotaeImg {
   height: 70%;
   margin-top: 6rem;
}
.programsFooterPNavy {
    color: var(--navy);
} 