.aboutPage {

    display: flex;
    flex-direction: column;
}

.aboutTop {
    display: flex;
    justify-content: flex-end;
    height: 47vh;

}  
.aboutH4 {
   color: var(--yellow);
   position: absolute;
   bottom: 1rem;
   display: flex;
   align-items: center;
   font-size: 3vh;
   
}
.aboutTopLeftBox {
   position: relative;
   display: grid;
   grid-template-columns: 1fr 1.5fr;
   background-color: var(--red);
   border-radius: 8px;
   margin: 6rem 3rem;
   width: 100%;
}
.robertImg {
   border-radius: 8px 0 0 8px;
   min-width: 100%;
    
}
.aboutTopLeftBoxInnerBox {

}
.list {
 
    font-family:'lato', sans-serif;
    font-size: 2.25vh;
    line-height: 5rem;
    margin-left: 1rem;
    padding-top: 2rem;
    color: white;
}
.aboutTopRight {

margin: 5rem 15rem 0 15rem;
}
.aboutTopRightContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.redLine {
    border-bottom: 2px solid var(--red);
    text-align: center;
}
.aboutText {
    max-width: 80rem;
    text-align: center;
    line-height: 150%;
    font-size: 2vh;
    width: 65vw;

  
}
.aboutEnrollBtn {
    align-self: center;
    margin-top: 2rem;
}
.aboutBottom {
    display: flex;
    height: 35vh;
    border-top: 3px solid var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.programBox {
    background-color: white;
    border-radius: 6px;
    padding: 2rem;
    max-width: 85%;
    max-height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.testimonialTxt {
    position: absolute;
    left: 5rem;
    top: 47rem;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    
    
}
.aboutProgramTxt {
    font-size: 1.5vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    line-height: 125%;
}
.spLayoutBottomLeft {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stars {
    display: flex;
    margin-bottom: 1rem;
}

/* @media (max-width: 1760px) {
    .aboutPage {
        height: 100%;
    }

    .aboutTop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
       
    }

    .aboutBottom {
        display: flex;
        flex-direction: column;
        margin-top: 50rem;
        background-image: none;
        border: none;

    }
    .testimonialTxt {
      text-align: center;
     
    }
 

    .footer {
      display: none;
    /* position: fixed;
    bottom: 0; */
    

   
 
